body {
  background: url("./assets/lattice.svg");
  margin: 0;
  user-select: none;
  font-size: 16px;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 20px;
}
* {
  box-sizing: border-box;
}
img,
a {
  -webkit-user-drag: none;
}
